{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "localStorage": true,
    "window": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "jsx-indent": 0
  }
}
